.nav{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 2rem;
}
.nav img{
    width: 68px;
}
.nav a{
    color: #fff;
    text-decoration: none;
}
.nav a:hover{
    color: red;
}



@media screen and (max-width: 400px) {
.nav {
    gap: 12px;
}
}